body{
    background-image:
            url("https://res.cloudinary.com/dhg2lpfid/image/upload/v1569511469/ancient-architecture-bricks-220311_tvcqkt.jpg");
            background-size: cover;
}

h1{
    text-align: center;

}

h2{
    text-align: center;
}

h3{
    text-align: left;
}

.jumbotron{
    background-color: lightgrey;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.card{
    text-align: center;
    width: 55rem;
}

.table{
    background-color: lightgrey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}